
body {
  height: 100vh;
}

#root {
  background-color: #E3E2E6;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#pageHeader {
 background: url("./images/leaf-banner.jpg");
 color: white;
 justify-content: center;
 margin: 0 auto;
}

.menuOptions {
  list-style: none;
  text-align: left;
}

.innerCard {
  height: 100%;
  justify-content: center;
  position: relative;
}

.innerCard > img {
  width: 100%;
  height: 40%;
}

.cardHeader {
  font-size: 20px;
  text-align: center;
}

.cardBody {
  font-weight: 100;
  font-size: 15px;
}

.topMenuItem:hover {
    font-size: 18px;
    cursor: pointer;
    margin: 1px solid black;
    color: white;
  }


  #itemCardContainer {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .itemCard {
    flex: 0 0 25%;
    background-color: white;
    height: 350px;
    margin: 2%;
    padding: 1%;
  }

  .cardBuy {
    text-align: center;
    background-color: #EB1A50;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
  }

  .cardBuy:hover {
    cursor: pointer;
    background-color: white;
    color: #EB1A50;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .itemCard {
    flex: 0 0 10%;
  }

  #logo > img {
    height: 20vh;
    width: 50vw;
  }
}

/* tablet and phone commonalities */
@media only screen and (min-width: 300px) and (max-width: 991px) {
  .headingRow {
    background: url("./images/leaf-banner.jpg");
  }

  #pageHeader {
    background: transparent;
    font-size: 25px;
    padding: 5%;
  }

  .topMenu {
    display: none;
  }

  .menu {
    display: none;
  }

  .itemCard {
    flex: 0 0 70%;
    margin-left: 15%;
}

#combinedMenu {
  display: unset;
  position: absolute;
  top: 2%;
  left: 2%;
}

  /* hamburger menu CSS */
  #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 80vw;
  margin: -100px 0 0 -65px;
  padding: 50px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li:hover {
  background-color: ghostwhite;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/* end hamburger menu CSS */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .itemCard {
    flex: 0 0 40%;
    margin-left: 5%;
  }
}

/* Between medium and large */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .itemCard {
    flex: 0 0 40%;
    margin-left: 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .double-column {
    flex: 2
  }

  #logo {
    height: 200px;
    width: 200px;
    position:absolute;
    background-color: transparent;
    margin-left: 4%;
  }

  .topMenu {
    position: absolute;
    right: 16%;
  }

  #pageHeader {
    height: 33vh;
    font-size: 25px;
  }

  body {
    max-width: 1440px;
    margin: auto;
  }

  .menuOptions {
    margin-left: 20%;
    margin-top: 4%;
  }

  .menuOptions > li {
    padding: 2%;
    width: 240px;
  }

  .menuOptions > li:hover {
    background-color: brown;
    cursor: pointer;
    margin: 1px solid black;
    color: white;
  }

  #topMenu {
    margin: 15px;
    width: 400px;
  }

  #combinedMenu {
    display: none;
  }

  .topMenuItem {
    margin: 2px;
    color: white;
  }

  .topMenuItem:hover {
    font-size: 18px;
    cursor: pointer;
    margin: 1px solid black;
    color: white;
  }

  .itemCard {
    flex: 0 0 25%;
  }
}