
body {
  height: 100vh;
}

#root {
  background-color: #E3E2E6;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#pageHeader {
 background: url("./images/leaf-banner.jpg");
 color: white;
 justify-content: center;
 margin: 0 auto;
}

.menuOptions {
  list-style: none;
  text-align: left;
}

.innerCard {
  height: 100%;
  justify-content: center;
}

.innerCard > img {
  width: 100%;
  height: 40%;
}

.cardHeader {
  font-size: 20px;
  text-align: center;
}

.cardBody {
  font-weight: 100;
  font-size: 15px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .column {
    flex: 1
  }

  .double-column {
    flex: 2
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .double-column {
    flex: 2
  }

  #logo {
    /* background: url("./images/logo-placeholder.png"); */
    height: 200px;
    width: 200px;
    position:absolute;
    background-color: transparent;
    margin-left: 4%;
  }

  .topMenu {
    position: absolute;
    right: 20%;
  }

  #pageHeader {
    height: 33vh;
    font-size: 25px;
  }

  body {
    max-width: 1440px;
    margin: auto;
  }

  .menuOptions {
    margin-left: 20%;
    margin-top: 4%;
  }

  .menuOptions > li {
    padding: 2%;
    width: 240px;
  }

  .menuOptions > li:hover {
    background-color: brown;
    cursor: pointer;
    margin: 1px solid black;
    color: white;
  }

  #topMenu {
    margin: 15px;
  }

  .topMenuItem {
    margin: 2px;
    color: white;
  }


  #itemCardContainer {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .itemCard {
    flex: 0 0 25%;
    background-color: white;
    height: 350px;
    margin: 2%;
    padding: 1%;
  }

  .cardBuy {
    text-align: center;
    background-color: #EB1A50;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {


} */